*{
    padding: 0% ;
    margin: 0%;
    font-family: sans-serif;
}
.nav1{
width: 100%;
background-color:#2c2c2c !important;
color: white;
}
.navlogo1{
    color: white;
    font-size: 25px !important;
    font-weight: 550;
}
.main-nav{
    color: white !important;
    font-size: 18px;
    z-index: 10;
}
.tog1{
    background-color: white !important;
}
.main{
    height: 60px;
    width: 100%;
    display: flex;
    position: sticky !important;
    top: 0 !important;
    z-index: 300 !important;
    background: #2c2c2c;
}

.navlogo1:hover{
    cursor: pointer;
    color: white;
}



.homemain{
    height: 88vh;
    width: 100%;
    background-color:#78a3a4 ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i0.wp.com/www.ats.uk/wp-content/uploads/homepage-1.jpg?fit=2500%2C1276&ssl=1);
    background-repeat: no-repeat;
    z-index: 1; 
    background-size: cover;
}
.Overlay{
    position: absolute;
    top: 0;
    left: 0;
     background: rgba(0, 0, 0, 0.65); /* Black shade */
     width: 100%;
    height: 88vh;
    margin-top: 60px
}
.text{
    z-index: 1;
    text-align: center;
}
.text h1{
     font-size: clamp(20px, 3vw, 35px);
    color: white;
}
.text p{
    font-size: clamp(15px, 2vw, 21px);
    margin-top: 11px;
    font-weight: 600;
    color: white;
    /* margin-left: 70px; */
}
.text button{
    /* display: flex; */
    background-color:white;
    color: black;
    margin-top: 5px;
    padding: 20px;
    border: none;
}

.text button:hover{
    cursor: pointer;
    background-color:#2c2c2c;
    color: white;
}



#Project{
    /* margin-top: 50px; */
    background-color: #ededed;
    /* height: 100vh; */
    flex-wrap: wrap;
    width: 100%;
    /* margin-bottom: 30px; */
}
.pro-color{
    
}
.pro-main{
    /* margin-top: 30px; */
    padding: 65px;
}
.pro-main h1{
     font-size: clamp(22px, 2.5vw, 35px);

    text-align: center;
    margin-top: 0px;
}
.pro-img{
    display: flex;
    gap: 60px;
    margin-top: 30px;
    /* border: 2px solid red; */
    flex-wrap: wrap;
    justify-content: center;
}
.pro-img img{
    /* width: 20%; */
    height: 130px;
    /* gap: 20px; */
}
.pro-img2{
    display: flex;
    gap: 60px;
    margin-top: 60px;
    justify-content: center;
    flex-wrap: wrap;
}
.pro-img2 img{
    /* width: 20%; */
    height: 130px;
    /* gap: 20px; */
}
.pro-hover img:hover{
    height: 140px;
    transition: ease-in;
}

.pro-img a{
    text-decoration: none;
}
.pro-img a h3 {
  color: black;   
  font-size: 20px;
  margin-top: 5px;   
  text-align: center;    
}
.pro-img2 a{
    text-decoration: none;
}
.pro-img2 a h3 {
  color: black;
  margin-left: 99px;    
  font-size: 20px;
  margin-top: 5px;       
}

#About-Me{
    background-color:#78a3a4;
    width: 100%;
    display: flex;
    align-items: center;
}
.about-main{
    padding: 30px;
}
.about-main p{
    line-height: 35px;
    margin-top: 15px;
    
}

.con-main{
    margin-top: 60px;
}

.form input{
    width: 75%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 12.5%;
    margin-top: 30px;
}
.con-main h1{
    margin-left: 12.5%;
}
.send{
    height: 30px;
}
.form button {
    /* padding: 7px 13px; */
    background-color: #427d7e;
    color: white;
    margin-left: 12.5%;
    border: none;
    border-radius: 5px;
    margin-top: 13px;
}
.form button:hover{
    background-color: black;
    color: white;
}

footer{
    width: 100%;
   margin-top: 50px;
    background-color: #2c2c2c;
}
.footer{
    color: white;
    text-align: center;
    /* display: flex;
    align-items: center; */
}
.footer-para{
    display: flex;
    justify-content: center;
    padding: 15px;
}










@media (min-width: 276px) {
    .about-main p{
        line-height: 30px;
        font-size: 18px;
    }
  .text button{
    padding: 1.5px;
    font-size: 12px;
  }
  .pro-img a h3{
    font-size: 15px;
  }
  .about-main h1{
    font-size: 22px;
  }
  .form input{
    padding: 5px;
  }
  .pro-img2 a h3{
    font-size: 15px;
  }
}


/* Small (sm) devices - mobile */
@media (min-width: 576px) {
        .about-main p{
        line-height: 30px;
        font-size: 21px;
    }
  .text button{
    padding: 2.5px;
  }
  .pro-img a h3{
    font-size: 15px;
  }
    .about-main h1{
    font-size: 22px;
  }
    .form input{
    padding: 5px;
  }
  .pro-img2 a h3{
    font-size: 15px;
  }
}

/* Medium (md) devices - tablets */
@media (min-width: 768px) {
    .pro-img a h3{
    font-size: 19px;
  }
  .pro-img2 a h3{
    font-size: 15px;
  }
      .about-main h1{
    font-size: 24.5px;
  }
  
}




